{% extends 'master.html' %}

{% block head %}
<title>Reservations</title>
{% endblock %}

{% block body %}
    <h1 style="text-align: center">Update</h1>
    <form action="/update/{{res_update.id}}" method="POST" style="text-align:center">
        Name: <input type="text" name="name" id="name" value="{{res_update.name}}">
        Quantity (2-8): <input type="number" name="quantity" id="quantity" min="2" max="8" value="{{res_update.quantity}}">
        Time: <input type="time" name="time" id="time" value="{{res_update.time}}">
        Date: <input type="date" name="date" id="date" min="2022-08-01" value="{{res_update.date}}">

        <input type="submit" value="Update Reservation">
    </form>

{% endblock %}